.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin-left: auto;
  margin-right: auto;
}

.left-links ul {
  display: flex;
  justify-content: flex-start;
}

.right-links ul {
  display: flex;
  justify-content: flex-end;
}

ul {
  /* this removes the dots on the list items*/
  margin: 10px;
  padding: 10px;
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  margin-right: 8px;
  
  /* this removes the line under the links */
  text-decoration: none;
}